Predicting Life Expectancy With Python/Node-RED-FLOW-for-Jupyter-Notebook.json
[{"id":"df87919d.edaf8","type":"tab","label":"NotebookUI","disabled":false,"info":""},{"id":"d2eff385.4562c","type":"ui_form","z":"df87919d.edaf8","name":"","label":"","group":"bfac255d.16f8e8","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Country Status(Developing : 1,Developed : 0))","value":"b","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"c","type":"number","required":true,"rows":null},{"label":"Infant deaths","value":"d","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"e","type":"number","required":true,"rows":null},{"label":"Percentage expenditure","value":"f","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"g","type":"number","required":true,"rows":null},{"label":"Measles ","value":"h","type":"number","required":true,"rows":null},{"label":"BMI","value":"i","type":"number","required":true,"rows":null},{"label":"Under-five deaths ","value":"j","type":"number","required":true,"rows":null},{"label":"Polio","value":"k","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"m","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":"Thinness  1-19 years","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"r","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"s","type":"number","required":true,"rows":null},{"label":"Schooling","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":60,"wires":[["c8f9316b.e91e7"]]},{"id":"c8f9316b.e91e7","type":"function","z":"df87919d.edaf8","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n//following are required to receive a token\nvar apikey=\"5QWkze9fQzBn5KB6WytKrf7FqdVQIAhgUACn_znqB_JU\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":140,"wires":[["48acdeb2.a4bc7"]]},{"id":"5dc63e90.441c7","type":"http request","z":"df87919d.edaf8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/784c1a90-ec07-4f99-9003-1a281662cd53/deployments/554e89aa-aeb8-4f10-8df7-3781332f6c69/online","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":140,"wires":[["5dc46e2b.8deb8"]]},{"id":"1577a301.7c552d","type":"debug","z":"df87919d.edaf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":260,"wires":[]},{"id":"5dc46e2b.8deb8","type":"function","z":"df87919d.edaf8","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["1577a301.7c552d","832961a.f859ba"]]},{"id":"4d9e0c0b.0e2cc4","type":"function","z":"df87919d.edaf8","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"784c1a90-ec07-4f99-9003-1a281662cd53\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Year\",\"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths \",\"Polio\",\"Total expenditure\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness  1-19 years\",\"thinness 5-9 years\",\n\"Income composition of resources\",\"Schooling\"],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["5dc63e90.441c7"]]},{"id":"48acdeb2.a4bc7","type":"http request","z":"df87919d.edaf8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":140,"wires":[["4d9e0c0b.0e2cc4"]]},{"id":"832961a.f859ba","type":"ui_text","z":"df87919d.edaf8","group":"bfac255d.16f8e8","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy(Years)","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":360,"wires":[]},{"id":"bfac255d.16f8e8","type":"ui_group","z":"","name":"Predicting using Python","tab":"afcff7a0.1916c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"afcff7a0.1916c8","type":"ui_tab","z":"","name":"Predicting Life Expectancy Using Machine Learning","icon":"dashboard","disabled":false,"hidden":false}]